@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-size: 16px;
  line-height: 1.6;
}

@media screen and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(5, 5, 5, 0.75), rgba(5, 5, 5, 0.75)), url(/public/img/hero.png);
    background-size: 320px;
  }

  .about {
    background-image: linear-gradient(rgba(5, 5, 5, 0.75), rgba(5, 5, 5, 0.75)), url(/public/img/girl.png);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url(/public/img/hero.png);
    background-size: 380px;
    background-position: 95% 75%;
  }
  .about {
    background-image: url(/public/img/girl.png);
    background-size: 480px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    background-image: url(/public/img/hero.png);
    background-size: 680px;
  }

  .about {
    background-image: url(/public/img/girl.png);
    background-size: 500px;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

a {
  outline: none;
  display: inline-block;

  color: inherit;
  text-decoration: none;

  transition-duration: 250ms;
  transition-timing-function: ease;
}

button {
  display: inline-block;

  padding: 0;
  border: 0;
  outline: 0;
  margin: 0;

  box-shadow: 0px;
  background-color: transparent;

  font-family: inherit;
  color: inherit;
  fill: currentColor;

  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  color: inherit;
}

ul,
li,
ol {
  padding: 0px;
  margin: 0px;

  list-style: none;
}

.title {
  width: fit-content;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.4;

  background: -webkit-linear-gradient(0deg, rgba(53, 234, 126, 1), rgba(34, 125, 148, 1));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media screen and (min-width: 768px) {
    font-size: 48px;
  }
}

.section__text {
  margin-top: 8px;
  margin-bottom: 40px;

  font-size: 20px;
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}

.is-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;

  margin: -1px;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);

  overflow: hidden;
  pointer-events: none;
}

.disable-scroll {
  overflow: hidden;
}

.accent {
  background: -webkit-linear-gradient(0deg, rgba(53, 234, 126, 1), rgba(34, 125, 148, 1));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.circle {
  background: linear-gradient(#050505, #050505) padding-box,
    linear-gradient(180deg, rgb(56, 239, 125), rgba(17, 153, 142, 0)) border-box;
  border-radius: 50%;
  border: 10px solid transparent;
}

.circle_pinciples {
  background: linear-gradient(#050505, #050505) padding-box, linear-gradient(180deg, #38ef7d, #227d94) border-box;
  border-radius: 50%;
  border: 4px solid transparent;
}

.principles_card {
  border-radius: 16px 16px 0px 0px;
  border: 1px solid #227d94;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.gradient {
  background: linear-gradient(0deg, rgb(5, 5, 5), rgba(5, 5, 5, 0));
}

.gradient__footer {
  background: linear-gradient(180deg, rgb(5, 5, 5), rgba(5, 5, 5, 0));
}

.numbers {
  background: -webkit-linear-gradient(0deg, rgba(56, 239, 125, 1), rgba(34, 125, 148, 1));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.numbers__title {
  background: linear-gradient(180deg, #38ef7d 0%, #227d94 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.swiper {
  z-index: 6;
  margin: 0 auto;
}

.product.pagination {
  width: 400px;
  position: absolute;
  bottom: -24px;
  margin: 0 auto;
}

.portfolio-pagination .swiper-pagination-bullet,
.portfolio-pagination .swiper-pagination-bullet,
.team-pagination .swiper-pagination-bullet,
.team-pagination .swiper-pagination-bullet,
.testimonials-pagination .swiper-pagination-bullet,
.testimonials-pagination .swiper-pagination-bullet {
  border-radius: 50%;
  background: #939393;
  opacity: 0.2;
  width: 6px;
  height: 6px;
}

.portfolio-pagination .swiper-pagination-bullet-active,
.portfolio-pagination .swiper-pagination-bullet-active,
.team-pagination .swiper-pagination-bullet-active,
.team-pagination .swiper-pagination-bullet-active,
.testimonials-pagination .swiper-pagination-bullet-active,
.testimonials-pagination .swiper-pagination-bullet-active {
  border-radius: 50%;
  background: #38ef7d;
  opacity: 1;
  width: 8px;
  height: 8px;
}

.button-next {
  background: -webkit-linear-gradient(0deg, rgba(56, 239, 125, 1), rgba(34, 125, 148, 1));
}

.button-prev {
  background: -webkit-linear-gradient(180deg, rgba(56, 239, 125, 1), rgba(34, 125, 148, 1));
}

.how__bg {
  background: linear-gradient(
    51deg,
    rgba(56, 239, 125, 0.2) 0%,
    rgba(6, 57, 26, 0.2) 35.09%,
    rgba(6, 66, 81, 0.2) 50.97%,
    rgba(34, 125, 148, 0.2) 85.68%
  );
}
